@tailwind base;
@tailwind components;
@tailwind utilities;


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: brown;
  transform-origin: 0%;
  width: 1%;
}
